
<h1>Works</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Creator</th>
      <th>Publication year</th>
      <th>Description</th>
      
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= work.category %></td>
        <td><%= work.title %></td>
        <td><%= work.creator %></td>
        <td><%= work.publication_year %></td>
        <td><%= work.description %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work', new_work_path %>
