<main>
  <h2>User Summary: <%= link_to "#{User.find_by(id: session[:user_id]).name}", user_path(User.find_by(id: session[:user_id]).id) %></h2>
  <p>Joined site <%= User.find_by(id: session[:user_id]).created_at %></p>

  <section class="user-votes__container">
    <h3 class="user-votes__header">Votes</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Media Title</th>
          <th>Created By</th>
          <th>Published</th>
          <th>Category</th>
          <th>Voted On</th>
        </tr>
      </thead>
      <tbody>
        <% User.find_by(id: session[:user_id]).votes.each do |vote| %>
          <tr>
            <td>
              <%= link_to Work.find_by(id: vote.work_id).title , work_path(vote.work_id) %>
            </td>
            <td><%= Work.find_by(id: vote.work_id).creator %></td>
            <td><%= Work.find_by(id: vote.work_id).publication_year %></td>
            <td><%= Work.find_by(id: vote.work_id).category.capitalize %></td>
            <td><%= vote.created_at.strftime("%B %e, %Y") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>

  <%= link_to "See all Users", users_path, class: "btn btn-secondary" %>
  <%= link_to "Back to Media List", root_path, class: "btn btn-primary" %>

</main>